.sceneListContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: start;
    align-items: start;
    gap: 10px;
    overflow: auto;
}

.sceneItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border-radius: 15px;
    background: var(--background-color);
    overflow: auto;
    max-height: 80%;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.sceneItem:hover {
    background: rgb(120, 176, 166);
}

.sceneItem img {
    width: 20%;
    min-width: 100px;
    aspect-ratio: 4/3;
    border-radius: 5px;
}

.sceneItem .sceneHeader {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: white;
    gap: 10px;
}

.sceneItem .sceneDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: start;
}

.sceneItem .sceneDetails button,
.historyTable .submissionTextItem button,
.historyTable button {
    display: flex;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    font-size: 15px;
    gap: 2px;
}

.sceneItem .sceneDetails button i,
.historyTable .submissionTextItem button i,
.historyTable button i {
    color: white;
    font-size: 25px;
    width: fit-content;
    height: fit-content;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

.sceneItem .sceneDetails button:hover i,
.historyTable .submissionTextItem button:hover i,
.historyTable button:hover i {
    color: var(--background-color);
    background: white;
    border-radius: 2px;
    transform: scale(1.2);
}

.sceneItem h3 {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
    text-align: start;
    width: fit-content;
    height: 100%;
    white-space: normal;
}

/* History Table */
.historyTable {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    border-collapse: collapse;
    transform-origin: top;
    animation: slidedown 0.3s ease-in-out;
}

@keyframes slidedown {
    0% { transform: scaleY(0); }
    100% { transform: scaleY(1); }
}

.historyTable .submissionTextItem {
    width: 100%;
    display: flex;
    height: fit-content;
    padding: 10px;
    border: solid 2px white;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
}

.submissionTextItem .info {
    width: 100%;
    height: fit-content;
    text-align: start;
}

.historyTable p,
.submissionTextItem .info p {
    color: white;
    width: 100%;
    white-space: normal; 
}

.historyTable table {
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    overflow: hidden;
    border-collapse: collapse;
}

.historyTable th,
.historyTable td {
    padding: 10px;
    border: 2px solid white;
}

.historyTable th {
    background-color: white;
    font-weight: bold;
    color: var(--background-color);
}

.historyTable td {
    font-size: 14px;
    color: white;
}

.historyTable button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    aspect-ratio: 1/1;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    margin-left: 50%;
    translate: -50%;
}