.NavContainer {
    height: 100%;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--background-color);
    position: absolute;
    transition: all 0.3s ease;
    left: 0;
    gap: 10px;
    padding-top: 10px;
    z-index: 1;
}

.NavContainer.hovered {
    z-index: 4;
}

.NavContainer .List ul {
    list-style: none;  
    padding: 0; 
    margin: 0; 
}

.NavContainer .List ul li {
    transition: all ease 0.3s;
    padding: 5px;
    
}

.NavContainer .List {
    width: 250px;
    align-items: center;
    margin-left: 35%;
}

.NavContainer .List .Item {
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
    gap: 35px;
    transition: all ease 0.3s;
    width: fit-content;
}

.List .Item:hover {
    transform: translateX(5px);
    background: rgb(249, 248, 248);
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 10px;
    width: fit-content;
    outline: solid 1px var(--background-color);
}

.NavContainer .List .Item span {
    display: none;
    padding: 0;
    margin: 0;
    width: fit-content;
    height: fit-content;
    text-align: left;
    cursor: pointer;
    align-items: center;
}

.NavContainer .List .Item:hover .NavContainer {
    z-index: 4;
}


.NavContainer .List .Item:hover span {
    display: flex;
    color: var(--background-color);
    white-space: nowrap;
    width: fit-content;
    
}

.NavContainer .List .Item .icon {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
}

.NavContainer .List .Item .icon i{
    font-size: 25px;
}

.NavContainer .List .Item:hover .icon i {
    color: var(--background-color);
}

.Item.active {
    background: rgb(249, 248, 248);
    padding-left: 10px;
    border-radius: 25px;
    width: fit-content;
}

.Item.active:hover {
    background: rgb(249, 248, 248);
}

.Item.active i {
    color: var(--background-color);
}

.NavContainer .List .Item.active span {
    color: var(--background-color);
}

@media (max-width: 768px) {
    .NavContainer {
        width: 70px;
    }
    .NavContainer .List {
        margin-left: 30%;
    }
}

