.sceneContainer {
    width: 100%;
    height: 100%;
    padding-left: 90px;
    background: rgb(249, 248, 248);
    overflow: auto;
}

h1 {
    color: var(--background-color);
}

@media (max-width: 768px) {
    .sceneContainer {
        padding-left: 70px;
    }
}