.studentManagementContainer {
    width: 100%;
    height: 100%;
    margin-left: 90px;
    background: rgb(249, 248, 248);
    display: flex;
    gap: 10px;
    padding: 10px;
    color: black;
    overflow: hidden;
}

.studentManagementContainer .leftColumn {
    flex: 1;
    border-radius: 25px;
    background: transparent;
    transition: transform 0.3s ease, opacity 0.3s ease;
    height: 100%;
}

.studentManagementContainer .leftColumn .studentList {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.studentManagementContainer .leftColumn .studentList h2 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: var(--background-color);
}

.studentManagementContainer .leftColumn .studentList table {
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    border-spacing: 0;
    max-height: 100%;
    overflow: auto;
}

.studentManagementContainer .leftColumn .studentList table th,
.studentManagementContainer .leftColumn .studentList table td {
    text-align: center;
    vertical-align: middle;
}

.studentManagementContainer .leftColumn .studentList table thead tr {
    background: var(--background-color);
    color: white;
}

.studentManagementContainer .leftColumn .studentList table thead tr th {
    padding: 10px;
}

.studentManagementContainer .leftColumn .studentList table tbody tr:nth-child(even) {
    background-color: rgba(0, 123, 255, 0.1);
}

.studentManagementContainer .leftColumn .studentList table tbody tr:nth-child(odd) {
    background: transparent;
}

.studentManagementContainer .leftColumn .studentList table tbody tr td {
    padding: 10px;
}

.studentManagementContainer .leftColumn .studentList table tbody tr td .onlineStatus {
    color: var(--primary-color);
    font-weight: bold;
}

.studentManagementContainer .leftColumn .studentList table tbody tr td .offlineStatus {
    color: var(--third-color);
    font-weight: bold;
}

.studentManagementContainer .leftColumn .studentList table tbody tr td input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: solid 3px var(--background-color);
    height: 20px;
    width: 20px;
    font-size: 20px;
    padding: 0;
    cursor: pointer;
    margin-left: 50%;
    transform: translate(-50%);
}

.studentManagementContainer .leftColumn .studentList table tbody tr td input[type="checkbox"]:checked {
    position: relative;
}

.studentManagementContainer .leftColumn .studentList table tbody tr td input[type="checkbox"]:checked::after {
    content: "✔";
    position: absolute;
    width: fit-content;
    height: fit-content;
    color: var(--background-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

.studentManagementContainer .rightColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 25px;
    padding: 10px;
    background: transparent;
    gap: 5px;
    height: 100%;
    width: 100%;
    z-index: 3;
    overflow: hidden;
}

.studentManagementContainer .rightColumn .topSection {
    display: flex;
    gap: 10px;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
}

.rightColumn .topSection .tab {
    height: fit-content;
    width: fit-content;
    padding: 5px 25px;
    border-radius: 10px;
    background: var(--background-color);
    color: white;
    font-weight: bold;
    filter: brightness(0.8);
    flex: 1;
}

.rightColumn .topSection .tab:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.tab.listening.active,
.tab.reading.active,
.tab.scene.active {
    filter: brightness(1);
}

.rightColumn .bottomSection {
    width: 100%;
    height: 100%;
    background: var(--background-color);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

.toggleLeftColumnBtn {
    display: none;
}

@media (max-width: 768px) {
    .studentManagementContainer {
        padding: 0;
        padding-left: 70px;
        margin: 0;
    }

    .studentManagementContainer .rightColumn {
        padding: 5px;
        border-radius: 0;
        gap: 10px;
    }

    .rightColumn .topSection .tab {
        padding: 5px;
    }

    .rightColumn .bottomSection {
        padding: 0;
        border-radius: 0;
        background: none;
    }

}

@media (max-width: 989px) {
    .studentManagementContainer {
        position: relative;
        height: 100%; 
    }

    .studentManagementContainer .rightColumn {
        flex: none;
        overflow: hidden;
    }


    .studentManagementContainer .leftColumn {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        z-index: 10;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        visibility: hidden;
    }

    .studentManagementContainer .leftColumn.visible {
        transform: translateX(0);
        visibility: visible;
    }

    .toggleLeftColumnBtn {
        display: flex;
        position: fixed;
        bottom: 10px;
        left: 10px;
        z-index: 20;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }

    .toggleLeftColumnBtn {
        background: white;
        color: var(--background-color);
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center ;
    }

    .toggleLeftColumnBtn:hover {
        transform: scale(1.1);
    }
}
