
.listeningListContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    height: fit-content;
    justify-content: start;
    align-items: start;
    gap: 10px;
    overflow: auto;
}

.listeningItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    overflow: auto;
    max-height: 900px;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
}

.listeningItem .listeningHeader {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: white;
    gap: 10px;
}

.listeningItem:hover {
    background: rgb(120, 176, 166);
    cursor: pointer;
}

.listeningItem  img {
    width: 15%;
    aspect-ratio: 1/1;
    border-radius: 5px;
}

.listeningItem .listeningDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: start;
}

.listeningItem .listeningDetails .userAmount {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: start;
    align-items: center;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    color: var(--background-color);
}

.listeningItem .listeningDetails button {
    display: flex;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 0px;
    cursor: pointer;
    font-size: 15px;
    gap: 2px;
}

.listeningItem .listeningDetails button i{
    color: white;
    font-size: 25px;
    width: fit-content;
    height: fit-content;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

.listeningItem .listeningDetails button:hover i {
    color: var(--background-color);
    background: white;
    border-radius: 2px;
}

.listeningItem h3 {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.historyTable {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-collapse: collapse;
    border: 2px solid white;
    border-radius: 8px;
    border-collapse: collapse;
    transform-origin: top;
    animation: slidedown 0.3s ease-in-out;
}

@keyframes slidedown {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.historyTable table {
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    overflow: hidden;
    border-collapse: collapse;

}



.historyTable th,
.historyTable td {
    padding: 10px;
    border: 2px solid white;
}

.historyTable th {
    background-color: white;
    font-weight: bold;
    color: var(--background-color);
}


.historyTable td {
    font-size: 14px;
    color: white;
}

.historyTable button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    aspect-ratio: 1/1;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    margin-left: 50%;
    translate: -50%;
}

.historyTable button i {
    display: flex;
    color: white;
    font-size: 25px;
    width: fit-content;
    height: fit-content;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

.historyTable button:hover i {
    transform: scale(1.2);
}